.fb-page{ data: { href: 'https://www.facebook.com/FutureHopePeople', :'hide-cover' => 'false', :'show-facepile' => 'true', :'show-posts' => 'true' } }
  .fb-xfbml-parse-ignore
    %blockquote{ cite: 'https://www.facebook.com/FutureHopePeople' }
      = link_to 'https://www.facebook.com/FutureHopePeople', 'Future Hope People'
