- facebook_page_url = "https://www.facebook.com/FutureHopePeople"

.fb-page{ data: { href: facebook_page_url, tabs: "timeline", "small-header": true, "adapt-container-width": true, "hide-cover": false, "show-facepile": true }
  %blockquote.fb-xfbml-parse-ignore{ cite: facebook_page_url }
    = link_to facebook_page_url, "Future Hope People"
