---
title: Contact
id: contact
layout: page
---

%p
  If you have questions about Future Hope People or want to know more about us and our work, please get in contact with us! We would be happy to send you further information.

%h3
  Future Hope People Deutschland e.V.

%p
  Email:
  = mail_to 'info@fhpeople.org'
  %br
  Web:
  = link_to 'https://fhpeople.org', 'https://fhpeople.org'

%h4
  Postal address
%table#contact
  %tr
    %td
      %strong
        Future Hope People Deutschland e.V.
      %br
      Gabriele Aluko
      %br
      Haberlandstr. 37
      %br
      44359 Dortmund
    %td
      %strong
        Future Hope People Ghana
      %br
      P.O. Box AD 1094
      %br
      Adabraka-Accra / Ghana

%h3
  Donation account

%table#donation-account
  %tr
    %th
      Account holder
    %td
      Future Hope People Deutschland e.V.
  %tr
    %th
      Account number
    %td
      1771898
  %tr
    %th
      Bank
    %td
      Sparda Bank West eG
  %tr
    %th
      Bank code
    %td
      36060591
  %tr
    %th
      IBAN
    %td
      DE10360605910001771898
  %tr
    %th
      BIC
    %td
      GENODED1SPE
