---
title: Kontakt
id: contact
layout: page
---

%p
  Falls Sie Fragen haben oder über uns und unsere Arbeit vor Ort mehr wissen wollen, nehmen Sie bitte Kontakt mit uns auf! Gerne schicken wir Ihnen weitere Informationen zu.

%h3
  Future Hope People Deutschland e.V.

%p
  Email:
  = mail_to 'info@fhpeople.org'
  %br
  Web:
  = link_to 'https://fhpeople.org', 'https://fhpeople.org'

%h4
  Postanschrift
%table#contact
  %tr
    %td
      %strong
        Future Hope People Deutschland e.V.
      %br
      Wieckesweg 48
      %br
      44309 Dortmund
    %td
      %strong
        Future Hope People Ghana
      %br
      P.O. Box AD 1094
      %br
      Adabraka-Accra / Ghana

%h3
  Spendenkonto

%table#donation-account
  %tr
    %th
      Kontoinhaber
    %td
      Future Hope People Deutschland e.V.
  %tr
    %th
      Kontonummer
    %td
      1771898
  %tr
    %th
      Bank
    %td
      Sparda Bank West eG
  %tr
    %th
      BLZ
    %td
      36060591
  %tr
    %th
      IBAN
    %td
      DE10360605910001771898
  %tr
    %th
      BIC
    %td
      GENODED1SPE
