---
title: Welcome
id: home
layout: page
---

.span-10

  %p
    Welcome to the website of Future Hope People!

  %p
    We are a nonprofit organization that was founded in Ghana in 2003. Since December 2004 we are also registered in Germany under the name Future Hope People Deutschland e.V.

  %p
    Our goals are the promotion and execution of development projects, organization of sponsorships for children, support of schools and working together with volunteers on-site in Ghana.

  %p
    Please find more details about who we are, what we do and how you can help on the following pages.

.span-8.last
  = partial 'fb_like_box'
