---
title: Willkommen
id: home
layout: page
---

.span-10

  %p
    Willkommen auf der Webseite von Future Hope People!

  %p
    Future Hope People ist eine Hilfsorganisation und wurde im Jahr 2003 in Ghana gegründet. Seit Dezember 2004 ist sie auch in Deutschland unter dem Namen Future Hope People Deutschland e.V. registriert.

  %p
    Unsere Ziele sind die Förderung und Durchführung von Hilfsprojekten, Vermittlung von Patenschaften, Unterstützung von Schulen und die Zusammenarbeit mit Freiwilligen vor Ort in Ghana.

  %p
    Informieren Sie sich auf dieser Webseite über unsere Organisation, was wir machen und wie Sie helfen können!

  %h3
    Newsletter

  %p
    = link_to 'Melden Sie sich bei unserem Newsletter an!', 'http://eepurl.com/cYYMg', target: '_blank'

.span-8.last
  = partial 'fb_like_box'
