---
title: Legal Notice
id: legal-notice
layout: page
---

%h3
  Future Hope People Deutschland e.V.

%p
  Non-profit organization
  %br
  Vereinsregister Nr. 5831 beim Amtsgericht Dortmund
  %br
  Steuer Nr. 315/5790/1676 VST 6
  %br
  Finanzamt Dortmund-Hörde

%p
  %strong
    Contact person
  %br
  Gabriele Aluko (Chairwoman)
  %br
  Phone: +49 (0)231 60018606

%p
  %strong
    Postal address
  %br
  Wieckesweg 48
  %br
  44309 Dortmund

%p
  %strong
    Internet
  %br
  Web:
  = link_to 'http://www.future-hope-people.de', 'http://www.future-hope-people.de', title: 'Future Hope People Webseite'
  %br
  Email:
  = mail_to 'info@future-hope-people.de'
  %br
  Design und development:
  = link_to 'Manuel Meurer', 'http://www.manuelmeurer.com', title: 'Manuel Meurer'

%p
  Inhaltlich Verantwortlicher gemäss § 10 Absatz 3 MDStV:
  %br
  Manuel Meurer
  %br
  Schreiberhauer Str. 9
  %br
  10317 Berlin

%p
  %strong
    Haftungshinweis:
  %br
  Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links.
  %br
  Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
