---
id: choose-language
changefreq: always
priority: 1.0
---

#landing-page

  .span-9
    %h2
      Willkommen auf der Webseite von Future Hope People in
      %br
      = link_to 'Deutsch', '/de/', title: 'Weiter zur deutschen Future Hope People Webseite', id: 'lang-de-link'
    %p
      %strong
        Hinweis:
      Sie können die Sprachauswahl
      %br
      jederzeit später ändern.
  .span-6
    %h1
      Future Hope People - Sustainable development aid for Ghana
  .span-9.last
    %h2
      Welcome to the website of Future Hope People in
      %br
      = link_to 'English', '/en/', title: 'Proceed to the English Future Hope People website', id: 'lang-en-link'
    %p
      %strong
        Note:
      you can always change
      %br
      your language selection later.
